<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Installation help</td> </tr>
      <tr> <td>09:00</td>  <td>Introduction</td> </tr>
      <tr> <td>09:45</td>  <td>Getting started with R</td> </tr>
      <tr> <td>10:30</td>  <td>Tea break</td> </tr>
      <tr> <td>10:45</td>  <td>Getting started with R (continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>Intro to data visualization</td> </tr>
      <tr> <td>12:15</td>  <td>Reading in data & R for plotting</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Former participant presentation</td> </tr>
      <tr> <td>14:15</td>  <td>R for plotting (continued)</td> </tr>
      <tr> <td>15:30</td>  <td>Interpreting plots & responsible data visualization</td> </tr>
      <tr> <td>16:30</td>  <td>Tea & END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Office hours</td> </tr>
      <tr> <td>09:00</td>  <td>Day 1 review</td> </tr>
      <tr> <td>09:30</td>  <td>Effective data visualization</td> </tr>
      <tr> <td>10:00</td>  <td>Mini-project: Group up and explore data</td> </tr>
      <tr> <td>10:30</td>  <td>Tea break</td> </tr>
      <tr> <td>10:45</td>  <td>Variables</td> </tr>
      <tr> <td>11:00</td>  <td>R for data cleaning</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>R for data cleaning (continued)</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Former participant presentation</td> </tr>
      <tr> <td>14:15</td>  <td></td>R for data cleaning (continued)</tr>
      <tr> <td>15:00</td>  <td>Mini-project: Read in, clean & visualize data</td> </tr>
      <tr> <td>16:30</td>  <td>Tea & END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Office hours</td> </tr>
      <tr> <td>09:00</td>  <td>Day 2 review</td> </tr>
      <tr> <td>09:30</td>  <td>Basic statistics</td> </tr>
      <tr> <td>09:45</td>  <td>R for data analysis</td> </tr>
      <tr> <td>10:30</td>  <td>Tea break</td> </tr>
      <tr> <td>10:45</td>  <td>R for data analysis (continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>R for data analysis (continued)</td> </tr>
      <tr> <td>12:30</td>  <td>Mini-project: Outline report</td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Former participant presentation</td> </tr>
      <tr> <td>14:15</td>  <td>Mini-project work time</td> </tr>
      <tr> <td>16:30</td>  <td>Tea & END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Office hours</td> </tr>
      <tr> <td>09:00</td>  <td>Day 3 review</td> </tr>
      <tr> <td>09:30</td>  <td>Writing reports with R Markdown</td> </tr>
      <tr> <td>10:30</td>  <td>Tea break</td> </tr>
      <tr> <td>10:45</td>  <td>Writing reports with R Markdown (continued)</td> </tr>
      <tr> <td>11:45</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>Mini-project: Create report</td> </tr>
      <tr> <td>13:00</td>  <td>Group photo</td> </tr>
      <tr> <td>13:15</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Mini-project: Create report (continued)</td> </tr>
      <tr> <td>14:45</td>  <td>Mini-project presentations</td> </tr>
      <tr> <td>15:45</td>  <td>Conclusions</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>Tea & END</td> </tr>
    </table>
  </div>
</div>
